.header {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #ffffff;
  box-shadow: 0 5px 9px 0 rgba(24, 39, 75, 0.12);
}

.nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  list-style: none;
}

.navItem {
  margin-right: 1.5rem;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
  color: #010101;
  padding-right: 1.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .navItem {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
