.container {
  padding: 0;
  margin: 20px 0;
  gap: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.link > a {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.link > a:hover {
  border-bottom: 1px solid black;
}
@media (max-width: 768px) {
  .name {
    display: none;
  }
}
