.footer {
  padding: 20px;
  background-color: var(--color-accent);
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  margin-top: 5px;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__linkContainer {
  list-style: none;
  padding: 0;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__bottomContainer {
  border-top: 1px solid #f0f1f2;
  padding-top: 20px;
  margin-top: 20px;
}

.footer__copyright {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .footer__section {
    flex-direction: column;
  }

  .footer__linkContainer {
    margin-bottom: 20px;
  }
}
