.hero {
  background-color: var(--color-bg_content);
  border-radius: 25px;
  padding: 60px;
  max-width: var(--width-block);
  margin: 15px auto 0 auto;
  position: relative;
}

.hero_subtitle {
  font-size: 24px;
  line-height: 1.5;
  color: rgb(76, 76, 76);
  padding-bottom: 3rem;
}

.hero_container {
  border-radius: var(--border-radius);
  flex-direction: row;
  display: flex;
  gap: 2.5rem;
}
.right {
  width: 40%;
}

.image > img {
  border-radius: var(--border-radius);
}

.list {
  padding-top: 20px;
  margin: 0;
  list-style: none;
}

.media {
  position: absolute;
  bottom: 0;
}
.list__item {
  flex-basis: calc(100% / 3 - 10px);
  margin-left: 10px;
  margin-top: 10px;
  padding: 1.5rem;
  background: white;
  border-radius: 32px;
  font-size: 14px;
}

.list__item > span {
  font-size: 3rem;
  font-weight: 700;
}
.hidden {
  font-size: 0;
}

@media (max-width: 768px) {
  .list__item {
    flex-basis: calc(50% - 10px);
    padding: 1rem;
    min-width: 45%;
  }
  .right {
    width: 100%;
  }
  .hero_title {
    font-size: 30px;
    text-align: left;
  }

  .list__item > span {
    font-size: 2rem;
  }
  .hero {
    margin: 10px auto;
    padding: 60px 30px;
  }
  .hero_subtitle {
    font-size: 12px;
    padding: 0;
  }
  .image > img {
    width: 120px;
    border-radius: 8px;
  }
  .hero_container {
    margin: 0 auto 15px auto;
    gap: 0;
  }
  .media {
    left: 30px;
    bottom: 20px;
  }
}
