.container {
  min-height: calc(100vh - 60px);
  padding: 3rem 1rem;
}
.header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 10px;
}
.title {
  font-size: 40px;
  line-height: 48px;
  padding-right: 25px;
  margin: 0;
}
.label {
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: #8d4cf6;
  display: flex;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
}
