@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0a74ee;

  --color-bg_content: #ffffff;

  --main-bg-color: #f3f4f6;
  --title-color: #262626;
  --text-color: #525252;

  --color-bg: #ececec;
  --color-accent: #ffda0b;
  --code-bg: #232936;

  --border-radius: 25px;
  --width-block: 1240px;

  --border-style: 1px solid #ffda0b;

  --layout-mobile: 480px;
  --layout-tablet: 768px;
  --layout-width: 1280px;

  --fontsize_smaller: 1rem;
  --fontsize_small: 1.2rem;
  --fontsize_medium: 1.5rem;
  --fontsize_large: 2rem;
  --fontsize_subtitle: 1.75rem;

  --fontweight_light: 300;
  --fontweight_medium: 500;
  --fontweight_bold: 600;
  --fontweight_bolder: 700;

  --fontsize_title: 3.5rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg);
  font-style: normal;
  font-weight: 400;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
button {
  font-family: inherit;
  cursor: pointer;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 16px;
}

mark {
  background: #ffef98;
  padding: 2px 5px;
}

h1 > mark {
  text-transform: uppercase;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.block {
  max-width: var(--width-block);
  margin: 0 auto;
}

h2 {
  font-size: var(--fontsize_title);
  letter-spacing: -3px;
  line-height: 1.5;
}
.active {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: normal;
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: var(--layout-mobile);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: var(--layout-tablet);
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: var(--layout-width);
  }
}
